{% extends 'survey/base.html' %}

{% block content %}

{% if error_message %}<div class="alert alert-danger" role="alert">{{ error_message }}</div>{% endif %}

<h1>{{ question.id }}. {{ question.question_text }}</h1>

<form action="{% url 'survey:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
    <input type="submit"  class="btn btn-primary" value="Send">
</form>

{% endblock content %}