{% extends 'quiz/base.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

<div class="card-deck mb-3 text-center">
    <div class="card mb-12 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">User Knowldge Test</h4>
        </div>
        <div class="card-body">
            {% if request.user.is_authenticated %}
            <form action="/quiz/start/" method="post">
                {% csrf_token %}
                {{ form }}
                <br>
                <input type="submit" class="btn btn-block btn-primary" value="Start Quiz">
            </form>
            {% else %}
            You must log in first to take the quiz
            {% endif %}
        </div>
    </div>
    {% if score_list %}
    <div class="card mb-12 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Previous Scores</h4>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                {% for score in score_list %}
                <li>{{ score.user }} - {{ score.course }}: {{ score.score }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}