{% extends 'quiz/base.html' %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}"
    role="alert">{{ message }}</div>
{% endfor %}
{% endif %}

<h1>Quiz Completed. Thank You :)</h1>

<h3>Your final score is: {{ request.session.score }}</h3>

<h3>Your final result is: <b>{{ request.session.result }}</b></h3>

{% endblock content %}